<a href="{{ cart }}">
{% if quantity>0 %}

    <div id="cart" class="mnucart" style="background-color: yellow">
      <div class="mnunum" id="cardcaunt">{{ quantity }}</div>
    </div>
{% else %}
    <div id="cart" class="mnucart" style="background-color: #005a87">
        <div class="mnunum" id="cardcaunt">{{ quantity }}</div>
    </div>
    
{% endif %}
</a>
