body {
    overflow-x: hidden;
}
/* header */
.header-top-block{
    padding: 1rem 1rem;
    box-shadow: 0 0 20px 3px rgba(0,0,0,0.2);
}

/* header Лого */
.logo {
    text-align: center;
}
.logo img {
    width: 90%;
}

/* header Кнопка заказа */
.header-top-btn-block {
    display: flex;
    align-items: center;
}
.header-top-btn{
    width: 150px;
    border: 2px solid #2ab9fb;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #00ade9;
    cursor: pointer;
    margin: 0 auto;
}
.header-top-btn:hover {
    transition: all 1s ease;
    color: #fff;
    background-color: #2ab9fb;
	box-shadow: 200px 0 0 0 rgba(42,185,251, 1) inset;
}

/* header Контакты */
.header-contact{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    align-self: center;
}
.header-number{
    color: #2ab9fb;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
.header-number:hover {
    transition: all 1s ease;
    text-decoration: none;
    color: #005986;
}
.header-number svg{
    fill: #00ade9;
}
.header-contact span{
    font-size: 12px;
    text-transform: none;
}

/* MENU */
.menu {
    background-color: #005A87;
    padding: 0 1rem;
    height: 3rem;
}
/* .collapse {
    height: 100%;
}*/
/* .navbar-nav {
    height: 100%;
} */
.limenu {
    position: relative;
    height: 100%;
    transition: all 1s ease;
}
.limenu:hover {
    color: #005A87;
	box-shadow: 200px 0 0 0 rgba(255,255,255, 1) inset;
}
.limenu:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #87b1c7;
}

/* .menu-btn {
    width: 100px;
    border: 2px solid #2ab9fb;
    border-radius: 10px;
    height: 2rem;
    padding: .5rem 0;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #00ade9;
    cursor: pointer;
    margin: 0 auto;
}
.menu-btn:hover {
    transition: all 1s ease;
    color: #fff;
    background-color: #2ab9fb;
	box-shadow: 200px 0 0 0 rgba(42,185,251, 1) inset;
} */
.amenu {
    color: #fff; 
    padding: .8rem 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}


/* search */
#search {
    width: 300px;
    font-family: 'Roboto Condensed', sans-serif;
}
.search-input {
    width: 100%;
    border-radius: 0;
    position: relative;
}
.search-btn-span {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
}
.search-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.header-shopping-cart{
    position: relative;
}
.header-shopping-cart svg{
    fill: #fff;
}
.header-shopping-cart svg:hover{
    fill: #f4dff4;
}
.header-shopping-num{
    position: absolute;
    left: 25px;
    font-size: 20px;
    z-index: 9999;
}
.mnunum{
    position: relative;
    left: 25px;
    font-size: 20px;
    z-index: 9999;
}
.mnucart{
    width: 50px; 
    height: 48px;
    background: url(/image/cart.png) no-repeat;
    background-size: cover;
}








/* homepage */
.content{
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgba(0,0,0,0.2); 
    padding: 3rem;
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; */
    /* position: relative; */
}
/* sidebar */
.sidebar-sticky-top {
    top: 70px;
}
.sidebar{
    position: relative;
    z-index: 1;
}

.sidebar-title {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-color: #45b8eb;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 25px;
    margin: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.sidebar-block{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    border-bottom-left-radius: 3px; 
    border-bottom-right-radius: 3px; 
}
.sidebar-link{
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #005a87;
    transition: all 1s ease;
}
.sidebar-link:hover{
    text-decoration: none;
    color: #005A87;
    border-left: 3px solid #45b8eb;
    background: #b1ccda; 
    background: -moz-linear-gradient(left, #b1ccda 0%, #196a93 100%); 
    background: -webkit-linear-gradient(left, #b1ccda 0%,#196a93 100%); 
    background: linear-gradient(to right, #b1ccda 0%,#196a93 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ccda', endColorstr='#196a93',GradientType=1 ); 
}

.focus-sidebar-link {
    font-size: 14px;
    padding: 2px 10px 2px 20px;
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px 10px #fff;
}
.focus-sidebar-link-child {
    font-size: 12px;
    padding: 1px 10px 1px 45px;
    font-style: italic;
    color: #fff;
}
.active {
    border-left: 3px solid #45B8EB;
    opacity: 0.95;
}
.sidebar-advertising{
    margin-top: 35px;
    text-align: center;
}
.sidebar-advertising img{
    width: 80%;
}


/* content */
.content-block h1{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #595959;
}
/* slider */
.content-slider-wrap{
    width: 100%;
    max-height: 500px;
}
.content-slider{
    width: 100%;
    position: relative;
    max-height: 500px;
}
.content-slide{
    position: relative;
    max-height: 500px;
    height: 100%;
}
.content-slide img{
    position: relative;
    height: 100%;
    width: 100%;
}
.content-slide .slick-initialized .slick-slide{
    outline: none;
}
/* .content-slider-wrapper{
    position: absolute;
    z-index: 999999;
    left: 0; top: 0;
    width: 100%;
    text-align: center;
}
.content-slider-title{
    color: #fff;
    font-size: 45px;
    line-height: 45px;
    padding-top: 90px;
}
.content-slider-text{
    font-family: 'Geometria', sans-serif;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
} */

.slick-prev{
    left: 25px;
    z-index: 9;
}
.slick-next{
    right: 25px;
}
.slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 20px;
    height: 4px;
    background-color: #fff;
}
.slick-prev:before{
    top: -5.6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    background-color: #fff;
    opacity: 1;
}
.slick-prev:after{
    top: 5.6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    background-color: #fff;
    opacity: 1;
}
.slick-next:before{
    top: -5.6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    background-color: #fff;
    opacity: 1;
}
.slick-next:after{
    top: 5.6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    background-color: #fff;
    opacity: 1;
}

/* продукты */
.content-products {
    width: 100%;
    margin-top: 18px;
}
.catalog{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; 
    margin: 0 4rem;
}
.catalog-product{
    width: 250px;  
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 25px 20px;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    box-shadow: 0 0 15px 3px #B8B8B8;
}
.catalog-product-name{
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 65%;
    left: 0px;
    width: 100%;
    color: #fff;
    background: #b1ccda; 
    background: -moz-linear-gradient(left, #b1ccda 0%, #196a93 100%); 
    background: -webkit-linear-gradient(left, #b1ccda 0%,#196a93 100%); 
    background: linear-gradient(to right, #b1ccda 0%,#196a93 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ccda', endColorstr='#196a93',GradientType=1 );
    font-size: 15px;
    text-align: center;
    padding: 7px 0;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}
.catalog-product-link{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.65);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}
.catalog-product-icon{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    top: 50%; left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 47px; height: 47px;
    opacity: 0;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}
.catalog-product-icon svg{
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #fff;
}
.catalog-product:hover .catalog-product-name{
    top: 120%;
}
.catalog-product:hover .catalog-product-link{
    width: 500px; height: 500px;
    opacity: 1;
}
.catalog-product:hover .catalog-product-icon{
    opacity: 1;
}
.catalog-product1:hover .catalog-product-name{
    top: 120%;
}



/* FOOTER */
footer{
    width: 100%;
    background-color: #00334c;
}
.footer-block{
    padding: 3rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
/* footer menu */
.footer-menu-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer-menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.footer-menu-link{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 38px;
    transition: all .5s ease;
}
.footer-menu-link:hover {
    text-decoration: none;
    color: #C7C7C7;
}

/* center menu */
.footer-center{
    /* width: 300px:*/
    text-align: center;
}
.footer-copyright1{
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
.footer-center img{
    margin-bottom: 10px;
}

/* footer contacts */
.footer-contact{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    width: 250px;	
}
.footer-contact-link{
    color: #fff; 
    font-family: 'Roboto Condensed', sans-serif;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 16px;
}
.footer-contact-link:hover {
    text-decoration: none;
    color: #C7C7C7;
}
.footer-copyright {
    color: #fff; 
    font-family: 'Roboto Condensed', sans-serif;
}
.footer-copyright:hover {
    text-decoration: none;
    color: #C7C7C7;
}
.footer-contact-link svg{
    fill: #fff;
    margin-right: 10px;
}


/* СТРАНИЦА КАТЕГОРИИ */
/* путь */
.bread-text{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #7D7D7D;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.bread-text:hover{
    color: #686888;
    text-decoration: none;
}
.bread-text-last {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #7D7D7D;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; 
}
.bread-text-last:hover{
    color: #686888;
    text-decoration: none;
}
.bread-next{
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    color: #7D7D7D;
}
.bread-next-line-after{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(35deg);
    -ms-transform: translate(-50%, -50%) rotate(35deg);
    -o-transform: translate(-50%, -50%) rotate(35deg);
    transform: translate(-50%, -50%) rotate(35deg);
    display: block;
    width: 8px;
    height: 1px;
    background-color: #7D7D7D;
}
.bread-next-line-before{
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-35deg);
    -ms-transform: translate(-50%, -50%) rotate(-35deg);
    -o-transform: translate(-50%, -50%) rotate(-35deg);
    transform: translate(-50%, -50%) rotate(-35deg);
    display: block;
    width: 8px;
    height: 1px;
    background-color: #7D7D7D;
}

.bread_params {
    margin: 10px 0;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: flex-start;
    min-height: 50px;
    align-items: center; 
}
.sorting_group {
    margin: 0;  
}
.sorting_group_label {
    margin: auto;
    margin-right: 10px;
}
.show_how_group {
    margin: 0;
}
.show_how_group_label {
    margin: auto;
    margin-right: 10px;
}
/* товары на странице категори */
.catalog1{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; 
    margin: 0 2rem;
}
.catalog1 hr {
    width: 100%;
    margin: 0 auto;
    margin: 2rem 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(184, 184, 184, 0.2), rgba(184, 184, 184, 1), rgba(184, 184, 184, 0.2));
    box-shadow: 0 20px 20px -20px #333;
}
.catalog-block{
    overflow: hidden;
    position: relative;
    margin: 20px 25px;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    box-shadow: 0 0 15px 3px #B8B8B8;
    -ms-background-position-y: top;
    background-position-y: top;
    padding: 10px;
    border-radius: 20px;
}
.catalog-block-name{
    display: block;
    width: 100%;
    color: #005a87;
    text-align: left;
    font-size: 15px;
}
.catalog-description{
    width: 100%;
    display: inline-block;
    color: #000;
    font-size: 10px;
    padding: 10px 0;
    margin: 0;
}
.catalog-price{
    text-align: right;
    width: 100%;
    display: inline-block;
    color: #005a87;
    font-size: 15px;
}
.catalog-block-name:hover{
    text-decoration: underline;
}
.price {
    margin: 0;
}
.text_empty {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold;  
}
.sale_btn {
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    background-color: #005A87;
    color: #fff;
    padding: 5px;
    border: none;
}


/*ПРОДУКТЫ */
.product{
    padding-top: 30px;
}
/* картинки товаров */
.product-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.product-wrap1{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.product-img{
    -webkit-background-size: 100%;
    background-size: 100%;
    /* width: 100%;
    min-width: 320px;
    max-width: 373px; */
    margin-right: 2rem;
    border-radius: 5px;
}
.product-img-active{
    width: 372px;
    height: 385px;
    border: 1px solid #ccc;
}
.product-img-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    position: relative;
    z-index: 10;
}
.product-img-disable{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
/* характеристики товара */
.product-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}
.article-text{
    color: #00ade9;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    margin-bottom: 1rem;
}
.product-title{
    font-weight: 100;
    font-size: 21px;
    line-height: 30px;
    padding-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #0f0e0d;
    text-align: left;
    margin-bottom: 1rem;
}
.product-ticket, .product-val{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #0f0e0d;
    line-height: 28px;
    font-weight: 500;
}
.product-price{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #005a87;
}

/* Количество товаров */
.product-val-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding-bottom: 40px;
}
.product-val{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #0f0e0d;
    margin-right: 1rem;
}
.product-calc{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 80px;
}
.product-calc-btn{
    width: 25px;
    line-height: 20px;
    text-align: center;
    color: #005a87;
    border: 1px solid #dedfde;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.product-calc-number{
    width: 30px;
    line-height: 20px;
    text-align: center;
    color: #005a87;
    border: 1px solid #dedfde;
}

/* Кнопка в корзину */
.product-btn-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 150px;
}
.product-add{
    width: 190px;
    text-align: center;
    border: 2px solid #2ab9fb;
    color: #00ade9;
    display: inline-block;
    line-height: 45px;
    cursor: pointer;
    transition: all 1s ease;
}
.product-add:hover{
    color: #fff;
    background-color: #2ab9fb;
    box-shadow: 200px 0 0 0 rgba(42,185,251, 1) inset;
    text-decoration: none;
}

/* описание товара */
.product-description{
    width: 100%;
    padding-top: 5rem;
}
.product-description-title{
    color: #595959;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 55px;
    padding: 15px 40px;
}
.product-description-text{
    margin-top: .6rem;
    padding: 25px;
    border: 1px solid #d9d9d9;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}




/* СТРАНИЦА О КОМПАНИИИ */
.news{
    padding-top: 20px;
    width: 100%;
}
.news h1 {
    padding: 0 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: #595959;
}
.news-block{
    margin-bottom: 1rem;
}
/* .news-title{
    font-size: 22px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 20px;
} */
/* .news-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #0f0e0d;
}
.news-date{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    font-size: 15px;
    background-color: #005a87;
    width: 170px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    position: relative;
    z-index: 9;
}
.news-date svg{
    fill: #fff;
    margin-right: 10px;
}
.news-link{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}
.news-wrap-link{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    top: 50%; left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 47px; height: 47px;
    opacity: 0;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    z-index: 999;
}
.news-wrap-link svg{
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #fff;
}
.news-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.65);
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}
.news-img:hover .news-bg{
    width: 950px; height: 950px;
    opacity: 1;
}
.news-img:hover .news-wrap-link{
    opacity: 1;
} */
.pagination{
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    padding-top: 30px;
    
}
.pagination a{
    margin: 3px;
}
.pagination-number{
    padding: 5px 12px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #A6A6A6;
    background-color: #005A87;
}
.pagination > .active {
    border: none;
    background-color: #f1f1f1;
    border: 2px solid #000;
    font-weight: bold;
}
.pagination-number:hover{
    background: #d0edfa;
    text-decoration: none;
}
.pagination-dot{
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #c9c9c9;
}
.pagination-left{
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.pagination-line-top{
    width: 10px;
    height: 2px;
    background-color: #c9c9c9;
    -webkit-transform: rotate(45deg) translateY(-3px);
    -ms-transform: rotate(45deg) translateY(-3px);
    -o-transform: rotate(45deg) translateY(-3px);
    transform: rotate(45deg) translateY(-3px);
}
.pagination-line-bottom{
    width: 10px;
    height: 2px;
    background-color: #c9c9c9;
    -webkit-transform: rotate(-45deg) translateY(3px);
    -ms-transform: rotate(-45deg) translateY(3px);
    -o-transform: rotate(-45deg) translateY(3px);
    transform: rotate(-45deg) translateY(3px);
}

.news-internal-date{
    text-align: right;
    padding-top: 50px;
}
.news-date-text{
    font-size: 15px;
}



/* СТРАНИЦА КОРЗИНЫ */

.table-top{
    width: 100%;
    border-collapse: collapse;
    min-width: 320px;
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-family: 'Roboto Condensed', sans-serif;  
}
.cart-titile-tr {
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    background-color: #5F5F5F;
}
.text-right {
    text-align-last: left!important;
}
tbody td {
    border: 1px solid #D3D3D3;
}
.form-control {
    min-width: 30px;
}
.input-group-btn {
    display: flex;
    justify-content: center;
}
.table-price{
    font-family: 'Roboto Condensed', sans-serif;
}

.table-bottom{
    width: 100%;
    border-collapse: collapse;
    min-width: 88px;
    font-family: 'Roboto Condensed', sans-serif; 
    background-color: #EDEDED;
}
.table-bottom-bt{
    border-top: none;
    text-align: right;
    color: #4A4A4A;
}


.shopping-form-title{
    font-size: 25px;
    font-weight: bold;
    color: #595959;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2rem 0 0rem;
    text-align: center;
}
.shopping-form-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    align-items: center;
}
.shopping-form-block{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 2rem 1rem 0;
}
.form-control {
    font-family: 'Roboto Condensed', sans-serif;
    padding: .375rem;
}
.shopping-form-radio label{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
#button-guest{
    background-color: #5F5F5F;
 
    border: none;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.2);    
    cursor: pointer;
}
#button-shipping-method {
    background-color: #00ade9;
    border: none;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.2);    
    cursor: pointer;
    margin-bottom: 1rem;
}

.shopping-inform{
    padding-top: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.shopping-inform p{
    font-size: 15px;
    margin: 0;
}
.shopping-inform ul{
    padding-left: 45px;
}
.shopping-inform ul li{
    padding-top: 20px;
    color: #005a87;
}
.shopping-inform ul li p{
    color: #0f0e0d;
} 

/* .shopping-form-input{
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #999999;
    max-width: 340px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
} */





.table-align{
    text-align: left;
}








/* ФОРМА ЗАКАЗА */
@keyframes inPopup{
    0%{
        border-radius: 50%;
        width: 0; height: 0;
        overflow: hidden;
    }
    100%{
        border-radius: 0;
        width: 100%;
        height: 100vh;
    }
}
/* сама форма */
.popup-form{
    max-width: 350px;
    
}
.my-style-modal-dialog {
    max-width: 350px;
    
}
/* header формы */
.header-pop-modal {
    background-color: #005A87;
    border-bottom: none;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.title-pop-modal {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
}   
.cross {
    font-size: 35px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}   
/*body формы */
.body-pop-modal {
    background-color: #005A87;
}
.title-input-modal{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #fff;
}
.popup-input{
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fff;
    border: none;
    color: #005A87;
    box-shadow: 1px 1px 5px #fff;
}
.popup-textarea{
    padding: .5rem 1rem;
    max-height: 90px;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    border: none;
    color: #005A87;
    box-shadow: 1px 1px 5px #fff;
    margin-bottom: 25px;
}
input.popup-input::placeholder {
	color: #005A87;
}
.body-pop-modal hr {
    width: 100%;
    margin: 0 auto;
	margin-bottom: 25px;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.2), rgba(255,255,255,1), rgba(255,255,255,0.2));
    box-shadow: 0 20px 20px -20px #333;
    margin-bottom: 0;
}

/*footer формы */
.footer-pop-modal{
    background-color: #005A87;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-top: none;
}
.sendbtn {
    background-color: #45B8EB; 
    color: #fff;
    border: 1px solid #45B8EB;
    border-radius: 0;
    transition: all 1s ease;
}
.sendbtn:hover {
    color: #45B8EB;
    box-shadow: 200px 0 0 0 rgba(255,255,255, 1) inset;
    border: 1px solid #005A87;
}
.cancelbtn {
    border-radius: 0px;
}
.cancelbtn:hover {
    transition: all 1s ease;
    box-shadow: 200px 0 0 0 rgba(66,75,83, 1) inset;
}

/* ERRORS */
.error_text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold;
}

/* СТРАНИЦА ПОИСКА */
.search-result {
    margin: 15px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}
.search-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #7D7D7D;
    font-weight: bold;
}
.search-title:hover {
    text-decoration: none;
    color: #686888;
}
.search-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}


/* HEADER ADAPTIVE */
@media (max-width: 992px) {
    .header-number {
        font-size: 15px;
    }
}
@media (max-width: 576px) {
    .header-contact {
        margin-top: 1rem;
    }
}

/* MENU ADAPTIVE */
@media (max-width: 992px) {
    #search {
        width: 210px;
        position: relative;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .amenu  {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
}
@media (max-width: 991px) {
    .header-menu-wrap{
        position: relative;
        justify-content: flex-start;
    }
    .header-menu-navigation{
        position: absolute;
        z-index: 9999;
        width: 100%;
        max-width: 480px;
        top: 100%; left: -16px;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        -ms-align-items: flex-start;
        align-items: flex-start;
        background-color: #005884;
        border-bottom-right-radius: 1rem;
        transition: all 1s ease;
    }
    .inmenu {
        width: 100%;  
    }
    .limenu {
        width: 100%;
    }
    .limenu:hover {
        transition: all 1s ease;
        box-shadow: none;
        color: #fff;
        border-left: 3px solid #45b8eb;
        background: #b1ccda; 
        background: -moz-linear-gradient(left, #b1ccda 0%, #196a93 100%); 
        background: -webkit-linear-gradient(left, #b1ccda 0%,#196a93 100%); 
        background: linear-gradient(to right, #b1ccda 0%,#196a93 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ccda', endColorstr='#196a93',GradientType=1 );
    }
    .limenu:after{
        display: none;
    }
    .amenu{
        color: #fff;
        width: 100%;
        transition: all 1s ease;
    }
    .navbar-expand-lg .navbar-nav .amenu  {
        padding: 1rem 1rem 1rem 1rem;
    }
}
@media(max-width:330px) {
    .menu {
        padding: 0;
    }
}
@media(max-width:300px) {
    #search {
        width: 180px;
    }
}
    

/* content products */ 
@media (max-width: 1199px) {
    .catalog-product {
        width: 200px;
        height: 200px;
    }
    .catalog-product-name{
        top: 55%;
    }
}
@media (max-width: 991px) {
    .catalog {
        margin: 0 2rem;
    }
    .catalog-product {
        margin: 15px 20px;
    }
    .sidebar {
        display: none;
    }
}
@media (max-width: 767px) {
    .catalog {
        margin: 0 5rem;
    }
    .catalog-product {
        width: 230px;
        height: 230px;
    }
    .catalog-product-name{
        top: 65%;
    }
}
@media (max-width: 576px) {
    .content {
        padding: 1rem;
    }
    .catalog {
        margin: 0 8rem;
    }
    .content-block h1{
        font-size: 2rem;
    }
}
@media (max-width: 476px) {
    .catalog {
        margin: 0 6rem;
    }
    .content-block h1{
        font-size: 1.5rem;
    }
}
@media (max-width: 376px) {
    .catalog {
        margin: 0 3rem;
    }
}
/* FOOTER */
@media (max-width: 991px) {
    .footer-block {
        justify-content: center;
    }
    .footer-menu-wrap {
        justify-content: center;
    }
    .footer-contact {
        justify-content: center;
        margin-top: 2rem;
    }
}
@media (max-width: 576px) {
    .footer-center {
        margin-top: 2rem;
    }
    .footer-center img {
        margin: 0;
    }
    .footer-copyright1 {
        margin-bottom: .4rem;
    }
    .footer-block {
        padding: 1rem;
    }
}
@media (max-width: 320px) {
    .footer-center img {
        width: 90%;
    }
}


/* категории */
@media (max-width: 1200px) {
    .catalog-block{
        margin: 20px 20px;
    } 
}
@media (max-width: 991px) {
    .catalog1{
        margin: 0 4rem;
    }
    .catalog-block{
        margin: 15px 15px;
    } 
}
@media (max-width: 768px) {
    .catalog1{
        margin: 0 2rem;
    }
    .bread-text {
        font-size: 15px;
    }
    .bread-text-last {
        font-size: 15px;
    }
    .sorting {
        margin-bottom: 20px;
    }
}
@media (max-width: 576px) {
    .catalog1{
        margin: 0 .5rem;
    }
    .catalog-block{
        margin: 15px 15px;
    } 
    .bread{
        margin: 2rem;
    }

}
@media (max-width: 408px) {
    .catalog-block{
        flex: 0 0 80%;
        max-width: 80%;
        margin: 15px 35px;
    }
}

/* товары */
@media (max-width: 768px) {
    .product-img {
        margin: 0;
    }
    .product-img-wrap{
        flex-wrap: wrap;
        justify-content: start;
    }
}
@media (max-width: 576px) {
    .product {
        padding: 0 1rem;
    }
}
@media (max-width: 400px) {
    .product-img-active{
        width: 300px;
        height: 300px;
    }
}

/* О КОМПАНИИ */
@media (max-width: 400px) {
    .news h1 {
        font-size: 2rem;
    }
}

/* СТРАНИЦА КОРЗИНА */
@media (max-width: 768px) {
    .cart-titile-tr {
        font-size: 15px;
    }
    .input-group {
        justify-content: center;
    }
    .table td, .table th {
        padding: 0.375rem;
    }
}
@media (max-width: 470px) {
    
    .table-align {
        font-size: 15px;
    }
    
}
@media (max-width: 462px) { 
    .input-group-btn {
        margin-top: .6rem;
    }
    /* .table-top {
        min-width: 250px;
    } */
}
















