@keyframes inPopup{
	0%{
		border-radius: 50%;
		width: 0; height: 0;
		overflow: hidden;
	}
	100%{
		border-radius: 0;
		width: 100%;
		height: 100vh;
	}
}
.popup{
	display: none;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.popup-block {
	box-shadow: 0 0 35px 3px #d0f0fb;
}
.popup.active-popup{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	opacity: 0;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	z-index: 99999;
	opacity: 1;
	animation: inPopup .3s forwards ease-in-out;
}
.popup-wrap{
	position: relative;
	background-color: #fff;
}

.popup-wrap button{
	position: absolute;
	top: 20px; right: 20px;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 30px;
	line-height: 30px;
	cursor: pointer;
}

.popup-form{
	padding: 30px 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 400px;
}
.popup-form span{
	font-size: 16px;
	font-family: 'Roboto Regular', sans-serif;
}
.popup-input{
	padding: 10px;
	width: 100%;
}
.popup-form input, .popup-form textarea{
	margin: 15px 0;
	border: 1px solid #dedede;
}
.popup-textarea{
	padding: 20px;
	max-height: 90px;
	width: 100%;
}

.popup-submit{
	width: 100%;
	max-width: 200px;
	line-height: 46px;
	font-size: 20px;
	background-color: #00ade9;
	box-shadow: 0px 5px 9.6px 0.4px rgba(9, 132, 193, 0.33);
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
}

.header-shopping-cart{
    position: relative;
}
.header-shopping-cart svg{
    fill: #fff;
}
.header-shopping-cart svg:hover{
    fill: #f4dff4;
}


.sidebar-title{
    color: #fff;
    background-color: #45b8eb;
    text-transform: uppercase;
    font-family: "Roboto Regular", sans-serif;
    font-weight: 100;
    padding: 15px 25px;
    font-size: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header-shopping-num{
    position: absolute;
    left: 25px;
    font-size: 20px;
    z-index: 9999;
}
.cart{
    width: 50px; 
    height: 100%;
    background: url(/image/cart.png) no-repeat;
    background-color: #fff;
    background-size: cover;
}