.header-top-block{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.header-top-btn{
    width: 200px;
    border: 2px solid #2ab9fb;
    text-align: center;
    line-height: 44px;
    text-transform: uppercase;
    font-family: 'Roboto Regular', sans-serif;
    color: #00ade9;
    cursor: pointer;
}
.header-top-btn:hover {
    color: #fff;
    background-color: #2ab9fb;
}
.header-contact{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-end;
    align-items: flex-end;
    min-width: 240px;
}
.header-contact span{
    font-size: 12px;
    text-transform: none;
    
}