*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
.header-top-block{
    padding: 1rem 1rem;
    box-shadow: 0 0 20px 3px rgba(0,0,0,0.2);
}

/* header Лого */
.logo img {
    width: 70%;
}

/* header Кнопка заказа */
.header-top-btn-block {
    display: flex;
    align-items: center;
}
.header-top-btn{
    width: 150px;
    border: 2px solid #2ab9fb;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #00ade9;
    cursor: pointer;
    margin: 0 auto;
}
.header-top-btn:hover {
    transition: all 1s ease;
    color: #fff;
    background-color: #2ab9fb;
	box-shadow: 200px 0 0 0 rgba(42,185,251, 1) inset;
}

/* header Контакты */
.header-contact{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    align-self: center;
}
.header-number{
    color: #2ab9fb;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
.header-number:hover {
    transition: all 1s ease;
    text-decoration: none;
    color: #005986;
}
.header-number svg{
    fill: #00ade9;
}
.header-contact span{
    font-size: 12px;
    text-transform: none;
}

/* MENU */
.navbar {
    background-color: #005A87;
    padding: 0 1rem;
    height: 3rem;
}
.collapse {
    height: 100%;
}
.navbar-nav {
    height: 100%;
}
.nav-item {
    position: relative;
    height: 100%;
}
.nav-item:hover {
    transition: all 1s ease;
    color: #005A87;
	box-shadow: 200px 0 0 0 rgba(255,255,255, 1) inset;
}
.nav-item:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #87b1c7;
}
.nav-link {
    color: #fff; 
    padding: .8rem 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}
/* search */
#search {
    width: 300px;
}
.search-input {
    width: 100%;
    border-radius: 0;
    position: relative;
}
.search-btn-span {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
}
.search-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.content-wrap{
    background: #fff;
    flex-grow: 1;
}
.content-block{
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgba(0,0,0,0.2); 
    padding: 50px;
    padding-bottom: 70px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
}
.content-width{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto; 
}
.sidebar{
    width: 360px;
    padding-right: 45px;
    position: relative;
    z-index: 1;
}
.header-disable{
    -webkit-animation: slideLeft .5s forwards;
    -o-animation: slideLeft .5s forwards;
    animation: slideLeft .5s forwards;
}
.content-section{
    width: 100%;
    max-width: 960px;
}
.footer-block{
    padding: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer-menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.footer-menu-link{
    color: #fff;
    font-size: 16px;
    line-height: 38px;
}
.footer-menu-wrap{
    width: 120px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer-center{
    width: 300px;	
    text-align: center;
}
.footer-center img{
    margin-bottom: 10px;
}
.footer-contact{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    width: 250px;	
}
.footer-contact-link{
    color: #fff; 
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
    padding-bottom: 10px;
    opacity: 0.7;
    font-size: 16px;
}
.footer-contact-link svg{
    fill: #fff;
    margin-right: 10px;
}
.footer-contact-social .footer-contact-link svg{
    fill: #fff;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}
.footer-contact-social{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 5px 0;
    padding-top: 5px;
    display: none;
}
.footer-copyright{
    color: #fff;
    font-size: 15px;
}
footer{
    width: 100%;
    background-color: #00334c;
}
.content-product-btn-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    padding-top: 40px;
}
.content-product-button{
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 18px;
    padding: 12px 29px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.product-active-btn{
    background-color: #005a87;
    color: #fff;
}
.content-product-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 55px;
}
.content-product-block{
    min-width: 250px;
    min-height: 353px;
    margin-bottom: 35px;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}
.content-product-img{
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 999;
}
.content-product-link{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    opacity: 0;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}
.content-product-link svg{
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
}
.content-product-img:hover .content-product-link{
    opacity: 1;
}
.content-product-information{
    height: 100px;
    overflow-y: hidden;
    position: relative;
}
.catalog{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-evenly;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 18px;
}
.catalog-product-name{
    position: absolute;
    top: 70%;
    left: 0px;
    width: 100%;
    color: #fff;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b1ccda+0,196a93+100 */
    background: #b1ccda; /* Old browsers */
    background: -moz-linear-gradient(left, #b1ccda 0%, #196a93 100%); 
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b1ccda 0%,#196a93 100%); 
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b1ccda 0%,#196a93 100%); 
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ccda', endColorstr='#196a93',GradientType=1 ); /* IE6-9 */
    font-size: 14px;
    text-align: center;
    padding: 7px 0;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}

.catalog-product-link{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.65);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}

.catalog-product-icon{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    top: 50%; left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 47px; height: 47px;
    opacity: 0;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}
.catalog-product-icon svg{
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #fff;
}

.catalog-product:hover .catalog-product-name{
    top: 120%;
}
.catalog-product:hover .catalog-product-link{

    width: 500px; height: 500px;
    opacity: 1;
}
.catalog-product:hover .catalog-product-icon{
    opacity: 1;
}
.catalog-product1:hover .catalog-product-name{
    top: 120%;
}
.catalog-product1:hover .catalog-product-link{

    width: 500px; height: 500px;
    opacity: 1;
}
.catalog-product1:hover .catalog-product-icon{
    opacity: 1;
}
.slick-prev{
    left: 25px;
    z-index: 9;
}
.slick-next{
    right: 25px;
}
.slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 20px;
    height: 4px;
    background-color: #fff;
}
.slick-prev:before{
    top: -5.6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    background-color: #fff;
    opacity: 1;
}
.slick-prev:after{
    top: 5.6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    background-color: #fff;
    opacity: 1;
}
.slick-next:before{
    top: -5.6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    background-color: #fff;
    opacity: 1;
}
.slick-next:after{
    top: 5.6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    background-color: #fff;
    opacity: 1;
}
.sidebar-block{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    border-bottom-left-radius: 3px; 
    border-bottom-right-radius: 3px; 
}
.sidebar-link{
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #005a87;
}
.sidebar-link:hover{
    border-left: 3px solid #45b8eb;
    background: #b1ccda; 
    background: -moz-linear-gradient(left, #b1ccda 0%, #196a93 100%); 
    background: -webkit-linear-gradient(left, #b1ccda 0%,#196a93 100%); 
    background: linear-gradient(to right, #b1ccda 0%,#196a93 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ccda', endColorstr='#196a93',GradientType=1 ); 

}
.sidebar-link:nth-child(2n){
    background-color: #005a87;
}
.sidebar-advertising{
    margin-top: 35px;
    text-align: center;
}
.sidebar-advertising img{
    width: 80%;
}
.catalog-product{
    width: 270px;  
    height: 270px;
    overflow: hidden;
    position: relative;
    margin: 25px 20px;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    box-shadow: 0 0 15px 3px #B8B8B8;

}
.catalog-product1{
    width: 200px;  
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    box-shadow: 0 0 15px 3px #B8B8B8;
}


@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

