 /* .bread-text{
    font-size: 18px;
    font-family: 'Roboto Regular';
    font-weight: bold;
    color: #7D7D7D;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.bread-next{
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    color: #7D7D7D
}
.content-section p {
    margin-top: 5px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.bread-next-line-after{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(35deg);
    -ms-transform: translate(-50%, -50%) rotate(35deg);
    -o-transform: translate(-50%, -50%) rotate(35deg);
    transform: translate(-50%, -50%) rotate(35deg);
    display: block;
    width: 8px;
    height: 1px;
    background-color: #7D7D7D;
}
.bread-next-line-before{
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-35deg);
    -ms-transform: translate(-50%, -50%) rotate(-35deg);
    -o-transform: translate(-50%, -50%) rotate(-35deg);
    transform: translate(-50%, -50%) rotate(-35deg);
    display: block;
    width: 8px;
    height: 1px;
    background-color: #7D7D7D;
}
.bread-text:hover{
    color: #00ade9;
}

.catalog{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-evenly;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 18px;
}

.fsb{
    justify-content: flex-start;
    width: 100%;
}
.fsb hr {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(184, 184, 184, 0.2), rgba(184, 184, 184, 1), rgba(184, 184, 184, 0.2));
    box-shadow: 0 20px 20px -20px #333;
}
.fsb1{
    width: 700px;
    justify-content: flex-start;
    padding: 20px;
    margin: 0 auto;
}
.catalog-product{
    width: 270px;  
    height: 270px;
    overflow: hidden;
    position: relative;
    margin: 25px 20px;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    box-shadow: 0 0 15px 3px #B8B8B8;

}
.catalog-product1{
    width: 200px;  
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    box-shadow: 0 0 15px 3px #B8B8B8;
}
.catalog-block{
    width: 230px; 
    overflow: hidden;
    position: relative;
    margin: 18px 15px;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    box-shadow: 0 0 15px 3px #B8B8B8;
    -ms-background-position-y: top;
    background-position-y: top;
    padding: 10px;
    border-radius: 20px;
}
.catalog-block-name{
    display: block;
    width: 100%;
    color: #005a87;
    text-align: left;
    font-size: 15px;
}
.catalog-description{
    width: 100%;
    display: inline-block;
    color: #000;
    font-size: 10px;
    padding: 10px 0;
}
.catalog-price{
    text-align: right;
    width: 100%;
    display: inline-block;
    color: #005a87;
    font-size: 15px;
}
.catalog-block-name:hover{
    text-decoration: underline;
}
.catalog-product-name{
    position: absolute;
    top: 70%;
    left: 0px;
    width: 100%;
    color: #fff;


    background: #b1ccda;
    background: -moz-linear-gradient(left, #b1ccda 0%, #196a93 100%); 
    background: -webkit-linear-gradient(left, #b1ccda 0%,#196a93 100%); 
    background: linear-gradient(to right, #b1ccda 0%,#196a93 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ccda', endColorstr='#196a93',GradientType=1 );
    font-size: 14px;
    text-align: center;
    padding: 7px 0;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}

.catalog-product-link{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.65);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}

.catalog-product-icon{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    top: 50%; left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 47px; height: 47px;
    opacity: 0;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}
.catalog-product-icon svg{
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #fff;
}

.catalog-product:hover .catalog-product-name{
    top: 120%;
}
.catalog-product:hover .catalog-product-link{

    width: 500px; height: 500px;
    opacity: 1;
}
.catalog-product:hover .catalog-product-icon{
    opacity: 1;
}
.catalog-product1:hover .catalog-product-name{
    top: 120%;
}
.catalog-product1:hover .catalog-product-link{

    width: 500px; height: 500px;
    opacity: 1;
}
.catalog-product1:hover .catalog-product-icon{
    opacity: 1;
}


.product{
    padding-top: 30px;
}
.product-title{
    font-weight: 100;
    font-size: 21px;
    line-height: 30px;
    padding-bottom: 0;
    font-family: 'Roboto Regular', sans-serif;
    color: #0f0e0d;
    text-align: left;
}
.product-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-img{
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 100%;
    min-width: 320px;
    max-width: 373px;
    margin-right: 30px;
    border-radius: 5px;
}

.product-img-active{
    width: 372px;
    height: 385px;
    border: 1px solid #ccc;
}
.product-img-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.product-img-disable{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.product-description{
    width: 100%;
    padding-top: 25px;
}
.product-description-title{
    background-color: #45b8eb;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 55px;
    padding: 15px 55px;

}
.product-description-text{
    margin-top: 40px;
    padding: 25px 20px;
    border: 1px solid #d9d9d9;
    font-size: 15px;
    font-family: 'Roboto Light', sans-serif;
    padding-bottom: 140px;
}
.product-text{
    font-family: 'Roboto Light', sans-serif;
    font-size: 16px;
    color: #0f0e0d;

    line-height: 28px;
}

.article-text{
    color: #00ade9;
    font-family: 'Roboto Regular', sans-serif;
}
.product-ticket, .product-val{
    font-size: 18px;
    font-family: 'Roboto Light', sans-serif;
    color: #0f0e0d;

    line-height: 28px;
}
.product-val{
    font-size: 16px;
    margin-right: 10px;
}

.product-price{
    font-size: 18px;
    font-family: 'Roboto Regular', sans-serif;
    color: #005a87;
}

.product-val-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding-bottom: 40px;
}
.product-info{
    width: 45%;
    min-width: 320px;
    flex-grow: 1;
}
.product-calc{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 80px;
}
.product-calc-btn{
    width: 25px;
    line-height: 20px;
    text-align: center;
    color: #005a87;
    border: 1px solid #dedfde;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.product-calc-number{
    width: 30px;
    line-height: 20px;
    text-align: center;
    color: #005a87;
    border: 1px solid #dedfde;
}
.product-btn-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 150px;
}
.product-add{
    width: 190px;
    text-align: center;
    border: 2px solid #2ab9fb;
    color: #00ade9;
    display: inline-block;
    line-height: 45px;
    cursor: pointer;
}
.product-add svg{
    fill: #00ade9;
    vertical-align: middle;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
.product-add:hover{
    background-color: #00ade9;
    color: #fff;
}
.product-add:hover svg{
    fill: #fff;
}

.news{
    padding-top: 20px;
    width: 100%;
}
.news-block{
    margin-bottom: 70px;
}
.news-img{
    width: 100%;
    height: 405px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.news-title{
    font-size: 22px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 20px;
}
.news-text{
    font-family: 'Roboto Light', sans-serif;
    font-size: 15px;
    color: #0f0e0d;
}
.news-date{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    font-size: 15px;
    background-color: #005a87;
    width: 170px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    position: relative;
    z-index: 9;
}
.news-date svg{
    fill: #fff;
    margin-right: 10px;
}

.news-link{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}
.news-wrap-link{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    top: 50%; left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 47px; height: 47px;
    opacity: 0;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    z-index: 999;
}
.news-wrap-link svg{
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #fff;
}
.news-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.65);
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}
.news-img:hover .news-bg{
    width: 950px; height: 950px;
    opacity: 1;
}
.news-img:hover .news-wrap-link{
    opacity: 1;
}

.pagination{
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    padding-top: 30px;
}
.pagination a{
    margin: 3px;
}
.pagination-number{
    border: 1px solid #c9c9c9;
    padding: 5px 10px;
    color: #0f0e0d;
    font-family: 'Roboto Light', sans-serif;
    font-size: 13px;
}
.pagination-number:hover{
    background: #d0edfa;
    border: 1px solid #929392;
}
.pagination-dot{
    font-size: 26px;
    font-family: 'Roboto Regular', sans-serif;
    color: #c9c9c9;
}
.pagination-left{
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.pagination-line-top{
    width: 10px;
    height: 2px;
    background-color: #c9c9c9;
    -webkit-transform: rotate(45deg) translateY(-3px);
    -ms-transform: rotate(45deg) translateY(-3px);
    -o-transform: rotate(45deg) translateY(-3px);
    transform: rotate(45deg) translateY(-3px);
}
.pagination-line-bottom{
    width: 10px;
    height: 2px;
    background-color: #c9c9c9;
    -webkit-transform: rotate(-45deg) translateY(3px);
    -ms-transform: rotate(-45deg) translateY(3px);
    -o-transform: rotate(-45deg) translateY(3px);
    transform: rotate(-45deg) translateY(3px);
}

.news-internal-date{
    text-align: right;
    padding-top: 50px;
}
.news-date-text{
    font-size: 15px;
}

.shopping-wrap table{
    width: 100%;
    border-collapse: collapse;
    min-width: 320px;
}

.shopping-wrap table{
    width: 100%;
    border-collapse: collapse;
    min-width: 320px;
}
.table-price{
    font-family: 'Roboto Regular', sans-serif;
}
.table-bt{
    border-top: none;
    text-align: right;
    font-family: 'Roboto Regular', sans-serif;
}
.table-align{
    text-align: left;
}
.shopping-wrap table td:nth-child(1){
    min-width: 88px;

}

.shopping-form-title{
    font-size: 20px;
    font-family: 'Roboto Regular', sans-serif;
    padding-top: 45px;
    padding-bottom: 20px;
}
.shopping-form-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.shopping-form-block{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    margin-right: 30px;
}
.shopping-form-input{
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #999999;
    max-width: 340px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Roboto Light', sans-serif;
}
.shopping-form-submit{
    width: 157px;
    height: 45px;
    background-color: #00ade9;
    border: none;
    color: #fff;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 22px;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.2);
    margin-top: 15px;
    cursor: pointer;
}
.shopping-form-radio{
    padding-bottom: 20px;
}
.shopping-form-radio label{
    font-size: 15px;
    font-family: 'Roboto Light', sans-serif;
}
.shopping-inform{
    padding-top: 45px;
}
.shopping-inform p{
    font-size: 15px;
}
.shopping-inform ul{
    padding-left: 45px;
}
.shopping-inform ul li{
    padding-top: 20px;
    color: #005a87;
}
.shopping-inform ul li p{
    color: #0f0e0d;
} */
