<div class="content-slider-wrap">
  <div class="content-slider">
    {% for banner in banners %}
      <div class="content-slide">
        <img src="{{ banner.image }}" alt="{{ banner.title }}">
      </div>
    {% endfor %}
  </div>
</div>

